@font-face {
    font-family: 'PT Sans Narrow';
    src: url('fonts/PTN77F-webfont.ttf'); 
}

.movie-of-the-day span:first-child {
    color: #5293c2;
    font-size: 15px;
}

.movie-of-the-day span:last-child {
    color: #fdfdfd;
    font-size: 25px;
}

.movie-description {
    color: #7b7b7b;
    margin-top: 20px;
    padding: 15px;
    background-color: #1c1c1c;
    border-radius: 10px;
    font-size: 13px;
}

.scroll-block {
    padding-top: 20px;
}

.scroll-block div {
    display: inline;
}

.left-scroll {
    background-image: url(img/next-prev-2.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 25px;
    width: 10px;
    background-position: left;
    padding: 5px;
    margin-left: 30px;
}

.right-scroll {
    background-image: url(img/next-prev-2.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 25px;
    width: 10px;
    background-position: right;
    padding: 5px;
    margin-left: 5px;
}

h6 {
    color: #5293c2;   
}

p {
    color: #aaaaaa;
}