@font-face {
    font-family: 'PT Sans Narrow';
    src: url('fonts/PTN77F-webfont.ttf'); 
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans Narrow', sans-serif
}

.menu {
    margin-top: 0px;
}

nav {
    padding: 13px;
    background-color: #1d1d1d;
    color: #e8e8e8;
    
}

nav div:first-child {
    padding-left: 70px;
    padding-right: 150px;
    font-size: 30px;
    border: 0px
}

nav div {
    border-right: 1px solid #e8e8e8;
    padding-right: 20px;
    padding-left: 20px;
        
    font-size: 17px;
    display: inline;
}

nav div:nth-child(6) {
    border: none;
   }

nav div:last-child {
    /* padding-left: 250px;*/
    float: right;
    height: 20px;
    border: none;
    padding-right: 125px;
    padding-top: 10px;
}

.search-box {
    padding: 5px;
    border: 0px;
    border-radius: 3px;
    background-color: #dddddd;
    position: relative;
}

.btn-search {
    background-image: url(img/search-icon.png);
    background-size: cover;
    position: absolute;
    width: 25px;
    border-radius: 4px;
    border: none;
    top: 24px;
    right: 140px;
}

.main-content {
    background-color: #262626;  
    padding: 20px;
}

.movie-of-the-day span {
    display: block;
}

.movie-of-the-day span:first-child {
    color: #5293c2;
    font-size: 15px;
}

.movie-of-the-day span:last-child {
    color: #fdfdfd;
    font-size: 25px;
}

.movie-description {
    color: #7b7b7b;
    margin-top: 20px;
    padding: 15px;
    background-color: #1c1c1c;
    border-radius: 10px;
    font-size: 13px;
}

.scroll-block {
    padding-top: 20px;
}

.scroll-block div {
    display: inline;
}

.left-img-block {
    float: left;
    color: #7b7b7b; 
    padding: 3px;
    padding-bottom: 0px;
    background-color: #1c1c1c;
}

.right-img-block {
    float: right;
    color: #7b7b7b; 
    padding: 3px;
    padding-bottom: 0px;
    background-color: #1c1c1c;
}

.right-img-block p {
    margin-top: 0;
    margin-bottom: 0;
}

.left-img-block p {
    margin-top: 0;
    margin-bottom: 0;
}

.right-scrollbar {
    background-image: url(img/next-prev.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 55px;
    width: 10px;
    margin-top: 220px;
    background-position: right;
}

.left-scrollbar {
    background-image: url(img/next-prev.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 240px;
    margin-left: 55px;
    height: 15px;
    width: 10px;
    background-position: left;
}

.rating {
    background-image: url(img/star-icon.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 10px;
    margin-left: 55px;
    height: 15px;
    width: 30px;
    background-position: top;
}

.movies-of-the-month {
    padding: 15px;
    font-weight: 700;
    color: #aaaaaa;
}

.movie-mth, .left-scroll, .right-scroll {
    display: inline;
}

.movie-mth {
    margin-left: 50px;
}

.left-scroll {
    background-image: url(img/next-prev-2.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 25px;
    width: 10px;
    background-position: left;
    padding: 5px;
    margin-left: 30px;
}

.right-scroll {
    background-image: url(img/next-prev-2.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 25px;
    width: 10px;
    background-position: right;
    padding: 5px;
    margin-left: 5px;
}

.see-all-blk {
    padding: 15px;
}

.down-arrow {
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 10px;
    width: 10px;
    background-position: right;
    padding: 5px;
    margin-left: 5px;
}

.down-arrow, .see-all {
    display: inline;
}
.see-all {
    float: right;
    margin-right: 100px;
    font-size: 15px;
}

h6 {
    color: #5293c2;   
}

p {
    color: #aaaaaa;
}

.movie-month-block1 {
    padding-left: 65px;
}

.mov-left-blk {
    background-color: #efefef;
    padding: 55px;
}

.img-dreamworks {
    background-image: url(img/content/dreamworks.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 20px;
    height: 220px;
    
}

.mov-left-blk div:first-child {
    color: #aaaaaa;
    font-size: 20px;   
}

.mov-left-blk div:nth-child(3) {
    color: #5293c2;   
    font-size: 25px;   
}

.mov-left-blk div:nth-child(4) {
    padding-right: 60px;
}

.img-jurors {
    background-image: url(img/content/jurors.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 20px;
    height: 220px;
}

.mov-left-blk div:nth-child(6) {
    color: #5293c2;   
    font-size: 25px;   
}

.mov-left-blk div:nth-child(7) {
    padding-right: 60px;
}

.img-kay {
    background-image: url(img/content/kay.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 20px;
    height: 220px;
}

.mov-left-blk div:nth-child(9) {
    color: #5293c2;   
    font-size: 25px;   
    margin-right: 130px;
}

.mov-left-blk div:nth-child(10) {
    padding-right: 60px;
}

.mov-right-blk {
    background-color: #efefef;
    padding: 55px;
    padding-left: 0px;
}

.mov-right-blk div:first-child {
    color: #aaaaaa;
    font-size: 20px;   
}

.img-fantastic {
    background-image: url(img/content/fantastic.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 20px;
    height: 220px;   
}

.mov-right-blk div:nth-child(3) {
    color: #5293c2;   
    font-size: 25px;   
}

.mov-right-blk div:nth-child(4) {
    padding-right: 60px;
    margin-right: 40px;
}

.img-rome {
    background-image: url(img/content/rome.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 20px;
    height: 220px;   
}

.mov-right-blk div:nth-child(6) {
    color: #5293c2;   
    font-size: 25px;   
}

.mov-right-blk div:nth-child(7) {
    padding-right: 60px;
    margin-right: 40px;
}

.img-loopers {
    background-image: url(img/content/loopers.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 20px;
    height: 220px;   
}

.mov-right-blk div:nth-child(9) {
    color: #5293c2;   
    font-size: 25px;   
}

.mov-right-blk div:nth-child(10) {
    padding-right: 60px;
    margin-right: 40px;
}