body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans Narrow", sans-serif;
}

.header-section {
  background-image: url(img/header-bg.png);
  background-repeat: repeat-x;
  background-size: auto;
  color: #7b7b7b;
}
.header-section .navbar {
  width: 85%;
  margin: auto;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}
.header-section .navbar .navbar-brand {
  color: #e8e8e8;
  font-size: 27px;
  text-transform: uppercase;
}
.header-section .navbar .navbar-nav li a {
  color: #e8e8e8;
}
.header-section .navbar .navbar-nav li a, .header-section .navbar .navbar-nav li img {
  display: inline;
}
.header-section .navbar .navbar-nav li:first-child {
  margin-left: 100px;
}
.header-section .navbar .form-inline .form-control {
  position: relative;
  padding: 0px 15px;
  margin-bottom: 5px;
  height: auto;
  color: #b9b9b9;
  width: 200px;
}
.header-section .navbar .form-inline .btn {
  background-image: url(img/search-icon.png);
  background-repeat: no-repeat;
  padding: 15px;
  border: none;
  position: absolute;
  right: 25px;
}
.header-section .row {
  padding: 10px;
  margin-top: 20px;
}
.header-section .row div:first-child {
  text-align: right;
}
.header-section .row div:first-child .rating-blk {
  width: 25%;
  display: flex;
  margin-top: 6px;
  margin-left: 350px;
}
.header-section .row div:first-child .rating-blk .rating {
  background-image: url(img/star-icon.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 33px;
  height: 19px;
}
.header-section .row .img-desc-block {
  padding-right: 75px;
}
.header-section .row .img-desc-block h6 {
  padding-left: 50px;
}
.header-section .row .img-desc-block h3 {
  color: #e8e8e8;
  padding-left: 50px;
}
.header-section .row .img-desc-block .movie-overview {
  background-color: #1b1b1b;
  padding: 13px;
  border-radius: 7px;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 13px;
}
.header-section .row .img-desc-block .trailer-scroll {
  display: flex;
  position: absolute;
  margin-top: 30px;
}
.header-section .row .img-desc-block .trailer-scroll .left-scrollbar {
  background-image: url(img/next-prev.png);
  width: 10px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 15px;
}
.header-section .row .img-desc-block .trailer-scroll .trailer1, .header-section .row .img-desc-block .trailer-scroll .trailer2 {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
}
.header-section .row .img-desc-block .trailer-scroll .trailer1 {
  margin-left: 28px;
}
.header-section .row .img-desc-block .trailer-scroll .trailer2 {
  margin-left: 47px;
  margin-right: 28px;
}
.header-section .row .img-desc-block .trailer-scroll .right-scrollbar {
  background-image: url(img/next-prev.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 10px;
  margin-bottom: 15px;
}

.mov-of-the-month-blk {
  padding: 20px;
}
.mov-of-the-month-blk .gallery {
  position: relative;
}
.mov-of-the-month-blk .gallery .like-views {
  position: absolute;
  bottom: 0px;
}

.mov-left-blk {
  padding: 3% 8% 48% 12%;
  background-color: #efefef;
}
.mov-left-blk .img-aramm {
  background-image: url(img/tamil-content/Aramm.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 20%;
}
.mov-left-blk .img-kokila {
  background-image: url(img/tamil-content/KolamavuKokila.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 20%;
}
.mov-left-blk .img-lakshmi {
  background-image: url(img/tamil-content/Lakshmi.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 20%;
}
.mov-left-blk div:nth-child(3) {
  color: #5293c2;
  font-size: 25px;
}
.mov-left-blk .desc p {
  padding-right: 4%;
  margin-bottom: 2%;
}
.mov-left-blk .desc .like-views {
  color: #7b7b7b;
  font-size: 13px;
  padding-bottom: 10%;
}
.mov-left-blk div:nth-child(6) {
  color: #5293c2;
  font-size: 25px;
}
.mov-left-blk div:nth-child(10) {
  color: #5293c2;
  font-size: 25px;
  margin-right: 130px;
}
.mov-left-blk .mov-left-blk div:nth-child(11) {
  padding-right: 60px;
}
.mov-left-blk h5 {
  color: #aaaaaa;
  padding: 0% 0% 3%;
}
.mov-left-blk h4 {
  padding: 0% 4% 0% 0%;
}

.mov-right-blk {
  background-color: #efefef;
  padding: 3% 8% 20% 2%;
}
.mov-right-blk div:nth-child(3) {
  color: #5293c2;
  font-size: 25px;
}
.mov-right-blk .img-fantastic {
  background-image: url(img/tamil-content/Enthiran2.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 15%;
  position: relative;
}
.mov-right-blk .img-fantastic .play-video {
  position: absolute;
  right: 230px;
  bottom: 40px;
}
.mov-right-blk .img-rome {
  background-image: url(img/tamil-content/Trisha.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 20px;
  height: 220px;
}
.mov-right-blk div:nth-child(4) {
  padding-right: 60px;
  margin-right: 40px;
}
.mov-right-blk .img-loopers {
  background-image: url(img/tamil-content/Mersal.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 20px;
  height: 220px;
  position: relative;
}
.mov-right-blk .img-loopers .play-video {
  position: absolute;
  right: 230px;
  bottom: 40px;
}
.mov-right-blk div:nth-child(6) {
  color: #5293c2;
  font-size: 25px;
}
.mov-right-blk div:nth-child(7) {
  padding-right: 60px;
  margin-right: 40px;
}
.mov-right-blk div:nth-child(9) {
  color: #5293c2;
  font-size: 25px;
}
.mov-right-blk div:nth-child(10) {
  padding-right: 60px;
  margin-right: 40px;
}
.mov-right-blk h5 {
  color: #aaaaaa;
  padding: 0% 0% 3%;
}
.mov-right-blk h4 {
  padding: 2% 4% 1% 0%;
}

.like-views {
  color: #7b7b7b;
  font-size: 13px;
  padding-bottom: 5%;
}

.footer {
  background-color: #1b1b1b;
  padding: 35px;
  color: #7b7b7b;
  font-weight: bold;
}
.footer div div {
  text-align: center;
}
.footer div div img {
  padding: 20px 2px;
}
.footer div h5 {
  color: #5293c2;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer div ul {
  list-style-type: none;
  padding: 0px;
}
.footer div ul li {
  border-bottom: 1px solid #7b7b7b;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.footer div:last-child div {
  width: 50%;
  margin: 0px;
  text-align: center;
}
.footer div:last-child div h5 {
  margin-bottom: 4px;
}

.logo {
  text-align: center;
  color: #e8e8e8;
  line-height: 0.4;
  padding-bottom: 20px;
  font-size: 27px;
  text-transform: uppercase;
}

.footer-info {
  padding: 15px;
  padding-right: 0px;
  padding-left: 0px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  border-top: 1px solid #7b7b7b;
  border-bottom: 1px solid #7b7b7b;
  width: 150px;
}

/*# sourceMappingURL=tamizh-db-css.css.map */
