body {
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans Narrow', sans-serif; 
}

.header-section {
  background-image: url(img/header-bg.png);
  background-repeat: repeat-x; 
  background-size: auto; 
  color: #7b7b7b;
  .navbar {
    width: 70%;
    margin: auto;
    padding-top: 0px;
    display: flex;
  justify-content: space-between;
    .navbar-brand {
      color: #e8e8e8;
      font-size: 27px;
      text-transform: uppercase;
    }
    .navbar-nav {
      li {
        a {
          color: #e8e8e8;
        }
        a, img {
          display: inline;
        }
      }
      li:first-child {
        margin-left: 100px;
      }
    }
    .form-inline {
      .form-control {
          position: relative;
          padding: 0% 10% 0%;
          margin-bottom: 3%;
          height: auto;
          color: #b9b9b9;
        }
        .btn {
          background-image: url(img/search-icon.png);
          background-repeat: no-repeat;
          padding: 2%;
          border: none;
          position: absolute;
          right: 2%;
          top: 14%;
        }
      }
  }
  .row {
    .img-block{
      padding-right: 2%;
      #main-pic {
        padding: 1%;
        background-color: #1b1b1b;
        border-radius: 5px;
      }
    }
    padding: 3%;
    div:first-child {
      text-align: right;
      .rating-blk {
        width: 25%;
        display: flex;
        margin-left: 65%;
        height: 5%;
        margin-top: 3%;
        .rating {
          background-image: url(img/star-icon.png);
          background-repeat: no-repeat;
          background-position: top;
          width: 15%;
          height: 19px;
        }
      }
    }
    .img-desc-block {
      padding-top: 0%;
      padding-left: 0%;
      h6 {
        padding-left: 7%
      }
      h3 {
        color: #e8e8e8;
        padding-bottom: 3%;
        padding-left: 7%;
      }
      .movie-overview {
        background-color: #1b1b1b;
        margin-left: 7%;
        padding: 3%;
        width: 85%;
        border-radius: 5px;
      }
      .movie-trailers {
        display: flex;
        justify-content: space-between;
      }
      .trailer-scroll-left {
        display: flex;
        margin-top: 3%;
        .left-scrollbar {
          background-image: url(img/next-prev.png);
          width: 34px;
          background-repeat: no-repeat;
          background-position: left;
        }
        .trailer1 {
          background-color: #1b1b1b;
          display: flex;
          flex-direction: column;
          padding: 2%;
          margin-left: 10%;
          text-transform: uppercase;
          text-align: left;
        }
      }
      .trailer-scroll-right {
        display: flex;
        margin-top: 3%;
        width: 41%;
        .trailer2 {
          background-color: #1b1b1b;
          display: flex;
          flex-direction: column;
          padding: 2%;
          text-align: left;
          margin-right: 0%;
          text-transform: uppercase;
        }
        .right-scrollbar {
          background-image: url(img/next-prev.png);
          background-repeat: no-repeat;
          background-position: right;
          width: 10px;
          margin-left: 12%;
        }
      }
    }
  }
}

.mov-of-the-month-blk {
  padding-left: 16%;
  padding-right: 13%;
  padding-bottom: 2%;
  .movie-month-block {
    display: flex;
    padding-left: 0%;
    .snapshot {
      width: 25%;
      padding-right: 7%;
      h6 {
        padding-top: 10%;
        text-decoration: underline;
      }
      .like-views {
        img {
          padding: 2%;
        }
        .number-of-likes {
          margin-right: 5%;
        }
      }
    }
  }
}

.movies-of-the-month {
  display: flex;
  padding-left: 16%;
  padding-top: 2%;
  margin-bottom: 1%;
  font-weight: 700;
  color: #aaaaaa;
}
.see-all-blk{
  padding-top: 2%;
  padding-left: 22%;
  margin-bottom: 1%;  
  .down-arrow {
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    padding: 5%;
    margin-left: 10%;
  }
  .see-all {
    margin-left: 6%;
    text-decoration: underline;
  }
  .down-arrow, .see-all {
    display: inline;
  }
}

.mov-left-blk {
  padding: 3% 8% 50% 16%;
  background-color: #efefef;
  .img-aramm {
    background-image: url(img/tamil-content/Aramm.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18%;
  }
  .img-kokila {
    background-image: url(img/tamil-content/KolamavuKokila.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18%;
  }
  .img-lakshmi {
    background-image: url(img/tamil-content/Lakshmi.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18%;
  }
  div:nth-child(3) {
    color: #5293c2;   
    font-size: 25px;   
  }
  .desc {
    p {
      padding-right: 3%;
      margin-bottom: 2%;
    }
    .like-views {
      color: #7b7b7b;
      font-size: 13px;
      padding-bottom: 10%;
      img {
        padding: 1%;
      }
      .number-of-likes {
        margin-right: 3%;
      }
    }
  }
  div:nth-child(6) {
    color: #5293c2;   
    font-size: 25px;   
  }
  div:nth-child(10) {
    color: #5293c2;   
    font-size: 25px;   
    margin-right: 130px;
  }
  .mov-left-blk div:nth-child(11) {
    padding-right: 60px;
  }
  h5 {
    color: #aaaaaa;
    padding: 0% 0% 3%;
  }
  h4 {
    padding: 1% 4% 1% 0%;
  }
}

.mov-right-blk {
  background-color: #efefef;
  padding: 3% 8% 50% 2%;
  .img-enthiran {
    background-image: url(img/tamil-content/Enthiran2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    height: 18%;
    width: 80%;
    padding-right: 4%;
    .play-video {
      position: absolute;
      right: 230px;
      bottom: 40px;
    }
  }
  .img-trisha {
    background-image: url(img/tamil-content/Trisha.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18%;
    width: 80%;
    padding-right: 4%; 
  }
  .img-mersal {
    background-image: url(img/tamil-content/Mersal.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 18%;
    width: 80%;
    padding-right: 4%;  
    position: relative;
    .play-video {
      position: absolute;
      right: 230px;
      bottom: 40px;
    }    
  }
  .desc {
    p {
      padding-right: 15%;
      margin-bottom: 2%;
    }
    .like-views {
      color: #7b7b7b;
      font-size: 13px;
      padding-bottom: 10%;
      img {
        padding: 1%;
      }
      .number-of-likes {
        margin-right: 2%;
      }
    }
  }
  div:nth-child(3) {
    color: #5293c2;   
    font-size: 25px;   
  }
  div:nth-child(4) {
    padding-right: 60px;
    margin-right: 40px;
  }
  div:nth-child(6) {
    color: #5293c2;   
    font-size: 25px;   
  }
  div:nth-child(7) {
    padding-right: 60px;
    margin-right: 40px;
  }
  div:nth-child(9) {
    color: #5293c2;   
    font-size: 25px;   
  }
  div:nth-child(10) {
    padding-right: 60px;
    margin-right: 40px;
  }
  h5 {
    color: #aaaaaa;
    padding: 0% 0% 3%;
  }
  h4 {
    padding: 2% 4% 1% 0%;
  }
  .h4-rhs {
    width: 80%;
    padding: 0% 14% 0% 0%;
  }
}

.like-views {
  color: #7b7b7b;
  font-size: 13px;
  padding-bottom: 5%;
}

.mini-movie {
  padding-right: 3%;
  padding-bottom: 13%;
  .card {
    padding-left: 0%;
    padding-right: 0%;
  }
}

.footer {
  background-color: #1b1b1b;
  padding: 35px;
  color: #7b7b7b;
  font-weight: bold;
  div {
    div {
      text-align: center;
      img {
        padding: 20px 2px;
      }
    }
    h5 {
      color: #5293c2;
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    ul {
      list-style-type: none;
      padding: 0px;
      li {
        border-bottom: 1px solid #7b7b7b;
        text-transform: uppercase;
        font-size: 15px;
        padding-bottom: 4px;
        padding-top: 4px;
      }
    }
  }
  div:last-child {
    div {
      width: 50%;
      margin: 0px;
      text-align: center;
      h5 {
        margin-bottom: 4px;
      }
    }
  }
}

.logo {
  text-align: center;
  color: #e8e8e8;
  line-height: 0.4;
  padding-bottom: 20px;
  font-size: 27px;
  text-transform: uppercase;
}

.footer-info {
  padding: 15px;
  padding-right: 0px;
  padding-left: 0px;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  border-top: 1px solid #7b7b7b;
  border-bottom: 1px solid #7b7b7b;
  width: 150px;
}